// blog area
.blog-area.first-page-blog{
    margin-bottom: 50px;
}
.blog-slider-active {
    margin: 0 -15px;
    .slick-slide{
        margin: 0 15px;
    }
    .slick-dots {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        justify-content: center;
        button {
            font-size: 0px;
            background: $them-5;
            border: 2px solid $them-5;
            border-radius: 50%;
            margin: 0 5px;
            transition: all .3s ease;
            width: 25px;
            height: 8px;
            border-radius: 30px;
        }
        .slick-active {
            button {
                background: $them-1;
                border: 2px solid $them-1;
                width: 40px;
            }
        }
    }
} 


.single-news {
    background: $them-bg-2;
    margin-bottom: 30px;
    .news-img {
        position: relative;
        // margin-bottom: 30px;
        overflow: hidden;
        a{
            img{
                width: 100%;
                transition: all .3s ease;
                transform: scale(1);
            }
        }
        .top-icon {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            a {
                height: 55px;
                width: 55px;
                background: $them-1;
                color: $white;
                font-size: 20px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s ease;
            }
        }
        .news-category {
            position: absolute;
            display: flex;
            align-items: center;
            left: 0;
            bottom: 0;
            li {
                height: 40px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                padding: 0px 25px;
            }
            .category{
                font-size: 17px;
                text-transform: uppercase;
                line-height: 26px;
                background: $them-5;
                // display: inline-block;
                color: $white;
                transition: all .3s ease;
                @media (max-width: 1200px) {
                    font-size: 14px;
                }
            }
            .category-date {
                font-size: 14px;
                color: $ash-font;
                background: $white;
                @media (max-width: 1200px) {
                    font-size: 11px;
                }
            }
        }
        &:hover{
            a {
                img{transform: scale(1.1);}
            }
            .top-icon {
                a {
                    background: $them-5;
                }
            }
            .news-category{
                .category{
                    background: $them-1;
                }
            }
        }
    }    
} 

.news-info-details {
    .news-title {
        padding-top: 30px;
        a{
            font-size: 22px;
            line-height: 34px;
            font-weight: 700;
            margin-bottom: 10px;
            display: block;
            color: $font-color-1;
            padding: 0 30px;
            transition: all .3s ease;
            &:hover{
                color: $them-1;
            }
            @media (max-width: 1200px) {
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    .news-info {
        font-size: 17px;
        line-height: 26px;
        color: $ash-font;
        margin-bottom: 25px;
        padding: 0 30px;
        @media (max-width: 1200px) {
            font-size: 15px;
            line-height: 20px;
        }
    }
}

.coment-review {
    padding: 20px 30px;
    border-top: 1px solid $border-2;
    display: flex;
    align-items: center;
    justify-content: space-between;            
    .comment {
        font-size: 16px;
        color: $ash-font;
        @media (max-width: 1200px) {
            font-size: 12px;
        }
    }
    .review-start {
        display: flex;
        align-items: center;
        li{
            color: $them-1;
            font-size: 16px;
            margin-right: 6px;
            &:last-child{
                margin-right: 0;
            }
            @media (max-width: 1200px) {
                font-size: 12px;
            }
            &:nth-last-child(-n + 3) {
                color: $ash-font;
            }
        }
        .review-count {
            margin-left: 4px;
        }
    }
    
}


// medical service 
 
.medical-service {
    background: transparent;
    margin-bottom: 30px;
    .team-img {
        position: relative;
        &::before{
            position: absolute;
            content: "";
            height: 100%;
            background-color: rgb(32, 50, 64);
            right: 0;
            top: 0;
            width: 0;
            transition: all .4s ease;
            visibility: hidden;
            opacity: 0;    
        }
        a {
            img{
                width: 100%;
            }
        }
        .medi-service-icon {
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .7s ease;
            height: 60px;
            width: 60px;
            background: $them-1;
            color: $white;
            font-size: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .medi-info-details {
        border: 1px solid #dddddd;
        border-top: none;
        padding: 30px 35px;
        transition: all .3s ease;
        @media (max-width: 1200px) and (min-width:991px) {
            padding: 25px 30px;
        }
        @media (max-width: 576px) {
            padding: 20px;
        }
        .team-title {
            padding-top: 0;
            a{
                padding: 0;
                color: $font-color-1;
                transition: all .3s ease;
                margin-bottom: 10px;
                display: block;
                font-weight: 700;
                font-size: 22px;
                @media (max-width: 1100px) {
                    font-size: 20px;
                }
                @media (max-width: 991px) {
                    font-size: 18px;
                }
            }
        }
        .team-info {
            padding: 0;
            font-size: 17px;
            line-height: 26px;
            color: #636363;
            margin-bottom: 25px;
            @media (max-width: 991px) {
                font-size: 16px;
            }
        }
    }
    &:hover{
        .team-img {
            &::before{
                visibility: visible;
                opacity: 0.79;
                width: 50%;
            }
            .medi-service-icon{
                bottom: 50%;
                left: 50%;
                transform: translate(-50%, 50%);
                a {
                    background: $them-1;
                }
            } 
        }
        .medi-info-details{
            box-shadow: 0px 0px 14.76px 3.24px rgba(0, 0, 0, 0.18);
            .team-title {
                a{ color: $them-1;}
            }
        }
        .service-more-btn {
            background: $them-1;
        }
    }
}

.active-docteam{
    margin-bottom: 50px;
    .slick-dots {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        justify-content: center;
        button {
            font-size: 0px;
            background: $them-5;
            border: 2px solid $them-5;
            border-radius: 50%;
            margin: 0 5px;
            transition: all .3s ease;
            width: 25px;
            height: 8px;
            border-radius: 30px;
        }
        .slick-active {
            button {
                background: $them-1;
                border: 2px solid $them-1;
                width: 40px;
            }
        }
    }
}

.active-docteam.slick-list {
    margin: 0 -15px;
}
.single-docteam{
    position: relative;
    margin-bottom: 40px;
    .team-img{
        margin: 0 35px;
        max-height: 370px;
        height: 100%;
        border: 5px solid $white;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        background: #dce6ee;
        overflow: hidden;
        text-align: center;
        position: relative;
        z-index: 11;
        @media (max-width: 1400px) {
           height: 315px;
        }
        @media (max-width: 1200px) {
            max-height: 250px;
            margin: 0 25px;
        }
        @media (max-width: 768px) {
            max-height: 270px;
        }
        @media (max-width: 576px) {
            max-height: 350px;
        }
        @media (max-width: 430px) {
            max-height: 260px;
        }
        img{
            padding: 30px 30px 0 30px;
            width: 100%;
        }
    }
    .team-info {
        width: 100%;
        padding: 100px 30px 30px 30px;
        background: $them-5;
        margin-top: -75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        transition: all .3s ease;
        @media (max-width: 1200px) {
            padding: 90px 10px 30px 10px;
        }
        .name{
            margin-left: 15px;
            .doc-name {
                a{
                    color: $white;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 49px;
                    @media (max-width: 1200px) {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
            .doc-post {
                color: $white;
                font-size: 17px;
                @media (max-width: 1200px) {
                    font-size: 15px;
                }
            }
        }
        .doc-social-add {
            position: relative;
            margin-right: 24px;
            @media (max-width: 1200px) {
                margin-right: 35px;
            }
            .add-social {
                width: 47px;
                height: 47px;
                background: $them-1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-size: 31px;
                border-radius: 50%;
                transition: all .3s ease;
                @media (max-width: 1200px) {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;
                }
            }
        }
    }
    .social-list {
        position: absolute;
        top: 30%;
        right: 70px;
        z-index: 111;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
        @media (max-width: 1200px) {
            top: 33%;
            right: 60px;
        }
        li{
            margin-bottom: 14px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                width: 47px;
                height: 47px;
                background: $them-5;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-size: 17px;      
                border-radius: 50%;   
                transition: all .3s ease;
                @media (max-width: 1200px) {
                    font-size: 12px;
                    height: 30px;
                    width: 30px;
                }
                &:hover{
                    background: $them-1;
                }               
            }
        }
    }
    &:hover{
        .team-info {
            background: $them-1;
        }
        .doc-social-add{
            .add-social {
                background: $them-5;
            }
        }
        .social-list{
            visibility: visible;
            opacity: 1;
        }
    } 
}
.single-docteam.slick-slide{
    padding: 0 15px;
    @media (max-width: 560px) {
        padding: 0 50px;
    }
    @media (max-width: 445px) {
        padding: 0 20px;
    }
}

