// font
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
// fonts
$base-font-size: 20px;
$base-font:'Rubik', sans-serif;
$heading-font: 'Poppins', sans-serif;



// background color 
$them-1: #e72254;
$them-3: #213162;
$them-4: #081e41;
$them-5: #203240;
$them-bg-1: #e73664;
$them-bg-2: #f1f7fc;

//border color 
$border-1: #405360;
$border-2: #dddddd;

// color
$font-color-1: #333333;
$theme-font: #043F2D;
$theme-font-2: #003333;

$ash-font: #636363;
$ash-font-2: #8a8a8a;
$content-color: #222222;




$white: #fff;
$black: #000;
$black-ash: #5d5d5d;
$ash: #eaeaea;


// extra color
$body-color: #0a272c;
$content-color-01: #616161;
$content-color-02: #545454;
$off-white-01: #dddfe1;
$light-1: #0c0202;//
$light-2: #e2f3ff;//
$light-3: #e1e1e1;//
$cyan-2 : #f3f4f4;//
$cyan-3 : #cbcbcb;//
$cyan-4 : #f5f5f5;//
$dark-gray: #080c0f;//
$small-black: #333;

// bg color 
$primary-theme : #E2315C;
$secondary-bg: #f4fcff;
$body-bg: #ebf5f6;
$icon-bg: #fedadc;
$border-ash: #d3d3d3;//
$icon-bg-2 : #ffd9dc;
$icon-bg-3 : #f2a0a7;
$positive-bg : #f9da0d;
$tag-bg : #e22454;



  



























