/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

/* 3.1 hero-slider */

/************************************************
  hero-style-1
**************************************************/
.first-hero, .slide-s2 {
    background-image: url(../images/hero/hero01.jpg);
    height: 890px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    align-items: center;
    position: relative;
    @media (max-width: 1585px) {
        height: 800px;
    }
    @media (max-width: 1400px) {
        height: 680px;
    }
    @media (max-width: 1200px) {
        height: 650px;
    }
    @media (max-width: 768px) {
        height: 500px;
    }
    .shape-01 {
        position: absolute;
        bottom: 0;
        right: calc(8% - 45px);
        width: 685px;
        @media (max-width: 1700px) {
            width: 630px;
        }
        @media (max-width: 1585px) {
            width: 600px;
            right: calc(6% - 45px);
        }
        @media (max-width: 1400px) {
            width: 500px;
            right: calc(14% - 45px);
        }
        @media (max-width: 1200px) {
            width: 450px;
            right: 0;
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
}
.hero-first-content {
    .title {
        font-size: 70px;
        font-weight: 700;
        color: $content-color;
        line-height: 83px;
        margin-top: 10px;
        margin-bottom: 16px;
        @media (max-width: 1585px) {
           font-size: 60px;
           width: 90%;
        }
        @media (max-width: 1400px) {
           font-size: 50px;
           line-height: 70px;
           width: 90%;
        }
        @media (max-width: 1200px) {
           font-size: 55px;
           line-height: 65px;
        }
        @media (max-width: 991px) {
            width: 95%;
        }
        @media (max-width: 768px) {
           font-size: 45px;
           line-height: 55px;
           width: 100%;
        }
        @media (max-width: 576px) {
           font-size: 26px;
           line-height: 36px;
           margin-bottom: 10px;
        }
    }
    .subtitle {
        font-size: 17px;
        color: $ash-font;
        line-height: 28px;
        margin-bottom: 45px;
        width: 80%;
        @media (max-width: 1585px) {
            width: 70%;
        }
        @media (max-width: 768px) {
            font-size: 15px;
            line-height: 26px;
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .hero-btn-div {
        display: flex;
        align-items: center;
        column-gap: 40px;
        @media (max-width: 576px) {
           flex-direction: column;
           justify-content: center;
           row-gap: 25px;
         }
         .hero-btn {
             background: $them-1;
             &:hover{
                background: $them-4;
                border: 1px solid $them-4;
            }
            @media (max-width: 576px) {
                font-size: 16px;
            }

         }
         .experience-text {
            a{
                font-size: 21px;
                color: $content-color;
                text-decoration: underline;
                font-weight: 600;        
                @media (max-width: 768px) {
                    font-size: 18px;
                }
                @media (max-width: 576px) {
                    font-size: 16px;
                }
            }
         }
    }
}

//first hero section end


/************************************************
  hero-style-2
**************************************************/
.hero-content-s2{
    position: relative;
    z-index: 111;
}
.slide-s2{
    // &::before{
    //     position: absolute;
    //     content: "";
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgb(255, 255, 255, 0.5);
    //     z-index: 1;
    // }
}

.hero-title {
    margin-bottom: -13px;
    display: flex;
    align-items: center;
    .icon {
        font-size: 33px;
        color: $them-1;
        margin-right: 20px;
    }
    .hero-section-title {
        color: $them-1;
        font-weight: 500;
        font-size: 19px;
    }
}
.slider-wrapper {
    position: relative;
    overflow: hidden;
    .slider-thumb {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .slide-s2-thumb {
        margin-right: 15px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background: rgb(32, 50, 64, 0.67);
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
        }
        &::after{
            content: "\efc2";
            font-family: "IcoFont";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 12px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease;
        }
        img{
            width: 110px;
            height: 90px;
            cursor: pointer;
            object-fit: cover;
            object-position: top right;
            @media (max-width: 1200px) {
                width: 90px;
                height: 70px;
            }
            @media (max-width: 768px) {
                width: 70px;
                height: 50px;
            }
            @media (max-width: 576px) {
                width: 50px;
            }
        }
    }
    .slide-s2-thumb.slick-current  {
        &::before{
            opacity: 1;
            visibility: visible;
        }
        &::after{
            opacity: 1;
            visibility: visible;
        }
    }
}

//second hero seciton end 

/************************************************
  hero-style-3
**************************************************/
.hero-area-s3 {
    padding: 0 135px;

    @media (max-width:1700px) {
        padding: 0 0px;
    }
    .hero-s3-wrapper{
        .slick-arrow {
            height: 100px;
            width: 100px;
            background: #e6eff4;
            line-height: 100px;
            font-size: 50px;
            color: $them-1;
            border: none;
            outline: none;
            position: absolute;
            right: -99px;
            z-index: 11;
            transform: rotate(90deg);
            transition: all .3s ease;
            &:hover{
                color: $white;
                background: $them-1;
            }
            @media (max-width:1700px) {
                right: 50%;
                transform: rotate(0deg);
                height: 50px;
                line-height: 50px;
                width: 50px;
                font-size: 30px;
                background: $them-1;
                color: $white;
                &:hover{
                    color: $them-1;
                    background: $white;
                }
            }
        }
        .pull-left.slick-arrow{
            top: calc(50% - 99px);
            @media (max-width:1700px) {
                top: unset;
                bottom: 0;
                right: unset;
                left: calc(50% - 60px);
            }
        }
        .pull-right.slick-arrow{
            bottom: calc(50% - 99px);
            @media (max-width:1700px) {
                bottom: 0;
                right: calc(50% - 60px);
            }
        }
        .single-slider.slick-slide{
            border: none;
        }
        @media (max-width:1700px) {
            .single-slider {
                width: 100% !important;
            }
        }
    }
}
.slider-bg-s3{
    height: 860px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    align-items: center;
    position: relative;
    @media (max-width: 1585px) {
        height: 800px;
    }
    @media (max-width: 1400px) {
        height: 680px;
    }
    @media (max-width: 1200px) {
        height: 650px;
    }
    @media (max-width: 768px) {
        height: 500px;
    }
    .single-doc-shape {
        position: absolute;
        bottom: -1px;
        right: 120px;
        z-index: 1111;
        img{
            max-height: 790px;
            max-width: 675px;
        }
        @media (max-width: 1585px) {
            img{
                max-height: 700px;
                max-width: 600px;
            }
        }
        @media (max-width:1400px) {
            right: 80px;
            img{
                max-height: 600px;
            }
        }
        @media (max-width:1200px) {
            right: 50px;
        }
        @media (max-width:991px) {
            display: none;
        }
        @media (max-width:768px) {
            display: none;
        }
    }
}
.hero-s3-content{
    .hero-title{
        .hero-section-title{
            color: $white;
        }
    }
    .title {
        color: $white
    }
    .subtitle {
        color: $white;
    }
}
//third page hero section end 

/************************************************
  common hero
**************************************************/
.common-hero-area {
    background-image: url(../images/hero/herobg02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 690px;
    width: 100%;  
    position: relative;
    z-index: 11;
    overflow: hidden;

    @media (max-width: 1500px) {
        min-height: 530px;
    }
    @media (max-width: 1200px) {
        min-height: 400px;
    }
    @media (max-width:767px) {
        min-height: 300px;
    }

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(32, 50, 64, 0.87);
        top: 0;
        left: 0;
    }
    .common-hero-content {
        position: relative;
        z-index: 111;
        text-align: center;
        margin-top: 60px;
        .head-title {
            font-size: 67px;
            line-height: 91px;
            color: $white;
            font-weight: 700;
            margin-bottom: 15px;
            @media (max-width: 1500px) {
                font-size: 45px;
                line-height: 70px;
            }
            @media (max-width: 991px) {
                font-size: 40px;
                line-height: 50px;
            }
            @media (max-width:767px) {
                font-size: 35px;
                line-height: 45px;
            }
            @media (max-width:576px) {
                font-size: 30px;
                line-height: 40px;
            }
        }
        .camp-link {
            justify-content: center;
            li {
                font-size: 18px;
                line-height: 28px;
                color: $them-1;
                .link{
                    color: $white;
                    margin-right: 2px;
                }
            }
        }
    }
    .shape-01{
        position: absolute;
        z-index: 111;
        bottom: 0;
        left: 30px;

        @media (max-width:1800px) {
            left: 0;
            img{
                max-width: 330px;
            }
        }
        @media (max-width:1500px) {
            img{
                max-width: 250px;
            }
        }
        @media (max-width:1200px) {
            left: -30px;
            img{
                max-width: 200px;
            }
        }
        @media (max-width:991px) {
            left: -50px;
        }
        @media (max-width:767px) {
            display: none;
        }
    }
    .shape-02{
        position: absolute;
        z-index: 111;
        bottom: 0;
        right: 85px;
        
        @media (max-width:1800px) {
            right: 0;
            img{
                max-width: 500px;
            }
        }
        @media (max-width:1500px) {
            img{
                max-width: 400px;
            }
        }
        @media (max-width:1200px) {
            img{
                max-width: 330px;
            }
        }
        @media (max-width:991px) {
            right: -110px;
            img{
                max-width: 330px;
            }
        }
        @media (max-width:767px) {
            display: none;
        }
    }
}
//common hero section end 