/*---------------------------
	Font family
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$base-font-size: 20px; //Base body font size
$base-font:'Rubik', sans-serif; //body font
$heading-font: 'Poppins', sans-serif; // heading font

$them-1: #e72254; //theme-primary-color
$them-3: #213162; //theme-primary-dark-color
$them-4: #081e41; //body-bg-color
$them-5: #203240; //section-bg-color
$them-bg-1: #e73664; //section-bg-color
$them-bg-2: #f1f7fc; //section-bg-dark-color


$border-ash: #d3d3d3; //theme border dark color
$border-2: #dddddd; //theme border color 

$font-color-1: #333333; //body font color 
$theme-font: #043F2D; //theme font color 
$theme-font-2: #003333; //theme font dark color 
$ash-font: #636363; //font ash color 
$ash-font-2: #8a8a8a; //font ash dark color 
$content-color: #222222; //content-font-dark-color
$body-color: #0a272c; //body font color 

$white: #fff; //white color 
$black: #000; //black color 
$black-ash: #5d5d5d; //dark ash gray font color 
$dark-gray: #080c0f;//dark ash font color