// first home page 

// first about page start 
.first-about {
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background: $them-5;
        width: 100%;
        top: 0;
        left: 0;
        height: 52%;
        z-index: -1;
        @media (max-width: 576px) {
            height: 48%;
        }
        @media (max-width: 422px) {
            height: 45%;
        }
    }
}
.about-img {
    margin-left: -55px;
    margin-right: 45px;
    img{
        // max-width: 560px;
        max-height: 620px;
        width: 100%;
        height: 620px;
        object-fit: cover;
        border: 10px solid $white;
    }
    @media (max-width: 1500px) and (min-width: 1400px) {
        margin-right: 20px;
        margin-left: -10px;
    }
    @media (max-width: 1270px) {
        margin-right: 20px;
        margin-left: -10px;
    }
    @media (max-width: 991px) {
        display: none;
    }
}
.about-content{
    .title-text {
        font-size: 17px;
        color: $white;
        line-height: 28px;
        margin-top: -36px;
        @media (max-width: 768px) {
            font-size: 15px;
        }
    }
}

.about-list{
    margin-top: 90px;
    li{
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        .icon {
            height: 30px;
            max-width: 30px;
            width: 100%;
            line-height: 30px;
            text-align: center;
            color: $white;
            border-radius: 50%;
            display: inline-block;
            background: $them-1;
            transition: all .3s ease;
            margin-right: 15px;
        }
        .list-para{
            font-size: 17px;
            line-height: 26px;
            color: $ash-font;
            display: inline;
            @media (max-width: 768px) {
                font-size: 15px;
            }
        }
        &:hover{
            .icon{
                background: $them-5;
            }
        }
    }
}
//counter start 
.single-count {
    background: #dce8ef;
    padding: 25px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    transition: all .3s ease;
    @media (max-width: 1400px) {
        padding: 20px 15px;
        column-gap: 15px;
    }
    @media (max-width: 1200px) {
        padding: 25px 25px;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
    }
    @media (max-width: 991px) {
        padding: 20px 10px;
    }
    @media (max-width: 768px) {
        margin-bottom: 30px;        
    }
    .counter-icon {
        height: 80px;
        width: 80px;
        background: $them-5;
        color: $white;
        border: 7px solid $white;
        border-radius: 50%;
        font-size: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
        @media (max-width: 1400px) {
            height: 60px;
            width: 60px;
            font-size: 25px;
        }
    }
    .counter-title {
        h3{
            font-size: 30px;
            line-height: 49px;
            color: $black;
            transition: all .3s ease;
            font-weight: 700;
            @media (max-width: 1400px) {
                font-size: 25px;
                line-height: 35px;
            }
            @media (max-width: 576px) {
                font-size: 20px;
                line-height: 26px;
            }
        }
        p {
            font-size: 17px;
            color: #333333;
            font-weight: 500;
            transition: all .3s ease;
            @media (max-width: 1400px) {
                font-size: 16px;
            }
            @media (max-width: 576px) {
                font-size: 12px;
            }
            @media (max-width: 360px) {
                font-size: 10px;
            }
        }
        @media (max-width: 1200px) {
            text-align: center;
        }
    }
    &:hover{
        background: $them-5;
        .counter-icon{
            background: $them-1;
        }
        .counter-title {
            h3 {color: $white}
            p{color: $white;}
        }
    }
}
//counter end 
// book apointment start 
.book-appoint-area {
    background-image: url(../images/book/book.jpg);
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before{
        position: absolute;
        content: "";
        background-color: rgb(32, 50, 64);
        opacity: 0.929;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 11;
    }
    .book-wraps{
        align-items: center;
    }
    .add-text {
        position: relative;
        z-index: 111;
        font-size: 40px;
        line-height: 55px;
        color: $white;
        font-weight: 700;
        @media (max-width:991px) {
            width: 80%;
            font-size: 30px;
            line-height: 45px;
        }
        @media (max-width:576px) {
           font-size: 25px;
           width: 100%;
           line-height: 35px;
        }
    }
    .button-div {
        position: relative;
        z-index: 111;     
        text-align: end;   
        @media (max-width:991px) {
            text-align: start;
        }
    }
    .shape01 {
        position: absolute;
        top: -71px;
        left: 2px;
        z-index: 11;
        width: 340px; 
        @media (max-width:1400px) {
            width: 330px;
        }
        @media (max-width:1200px) {
            display: none;
        }
    }
    .shape02{
        position: absolute;
        position: absolute;
        top: 50%;
        z-index: 11;
        left: 58%;
        transform: translate(-50%, -50%);
        width: 200px;
        @media (max-width:1400px) {
            width: 170px;
        }
        @media (max-width:991px) {
            right: 70px;
            left: unset;
            transform: translate(0%, -50%);
        }
        @media (max-width:768px) {
            right: 30px;
        }
        @media (max-width:625px) {
            right: 20px;
        }
        @media (max-width:576px) {
            display: none;
        }
    }
}
// book apointment end 

// medical lab section start 
.medical-lab-area {
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-image: url(../images/medi-tab/01.jpg);
        height: 760px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

}
.medical-tabs {
    justify-content: space-between;
    border: none;
    margin-bottom: 80px;
    @media (max-width: 768px) {
       row-gap: 40px;
    }
    .medical-item {
        .medi-tab-btn {
            color: #495057;
            border-color: transparent;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            padding: 52px 48px 30px 48px;
            position: relative;
            transition: all .3s ease;
            @media (max-width: 1200px) {
                padding: 45px 35px 35px;
            }
            @media (max-width: 991px) {
                padding: 30px 15px 29px;
            }
            @media (max-width: 768px) {
                padding: 45px 30px 30px;
            }
            @media (max-width: 525px) {
                padding: 30px 15px 29px;
            }
            .icon{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 80px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 41px;
                border-radius: 50%;
                background: $them-5;
                transition: all .3s ease;
                color: $white;
                top: -40px;
                border: 6px solid $white;
                @media (max-width: 1200px) {
                    height: 50px;
                    width: 50px;
                    font-size: 30px;
                    border: 4px solid $white;
                    top: -25px;
                }
            }
            .title{
                font-size: 22px;
                font-weight: 700;
                color: #333333;
                transition: all .3s ease;
                font-family: $base-font;
                @media (max-width: 1200px) {
                    font-size: 20px;
                }
                @media (max-width: 1200px) {
                    font-size: 18px;
                }
            }        
            &::after{
                content: "";
                position: absolute;
                height: 50px;
                width: 50px;
                background: $white;
                right: 50%;
                transform: translateX(50%) rotate(45deg);
                bottom: -25px;
                transition: all .3s ease;
                @media (max-width: 768px) {
                    display: none;
                }
            }
            &:hover{
                background: $them-5;
                .icon{
                    background: $them-1;
                    color: $white;
                }
                .title{
                    color: $white;
                }
                &::after{
                    background: $them-5;
                }
            }
        }
        .medi-tab-btn.active {
            background: $them-5;
            .icon{
                background: $them-1;
                color: $white;
            }
            .title{
                color: $white;
            }
            &::after{
                background: $them-5;
            }            
        }
    }
}
.single-content {
    width: 100%;
    background: $white;
    display: flex !important;
    border-radius: 10px;
    box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.08);
    .medi-tab-content {
        flex-basis: 50%;
        padding: 75px 45px;
        .tab-title {
            font-size: 22px;
            font-weight: 700;
            line-height: 25px;
            margin-bottom: 20px;
            text-decoration: underline;
            color: $font-color-1;
        }
        .tab-item-list{
            li {
                font-size: 17px;
                line-height: 26px;
                color: $ash-font;
                margin-bottom: 15px;
            }
            .para1 {
                margin-bottom: 30px;
            }
            .para2 {
                margin-bottom: 50px;
                margin-top: 30px;
            }
            .chek-item {
                a{
                    display: flex;
                    align-items: center;
                    transition: all .3s ease;
                    color: $ash-font;
                    .icon{
                        margin-right: 15px;
                    }
                    &:hover{
                        color: $them-1;
                        text-decoration: underline;
                        .icon{
                            color: $them-1;
                        }
                    }
                }
            }
        }
        @media (max-width: 991px) {
            flex-basis: 100%;
            padding: 45px;
        }
    }
    .medi-tab-img {
        padding: 10px 10px 10px 0;
        flex-basis: 50%;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
}
// medical lab section end 


// our best project or portfolio

.masonary-btn-wrap {
    .text {
        color: $ash-font;
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 30px;
    }
    .category{
        margin-bottom: 50px;
        .category-item {
            border-bottom: none;
            li {
                .nav-link{
                    display: inline-block;
                    font-size: 17px;
                    color: #333333;
                    font-weight: 500;
                    text-transform: capitalize;
                    cursor: pointer;
                    padding: 7px 11px;
                    transition: all .3s ease;
                    border-radius: 0px;
                    border: 1px solid transparent;
                    font-family: $base-font;
                    &:hover{
                        color: $white;
                        background: $them-1;                    
                    }
                    &:focus{
                        border: 1px solid transparent;
                    }
                }
                .nav-link.active{
                    color: $white;
                    background: $them-1;   
                    border: 1px solid transparent;                   
                }
                @media (max-width: 440px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.category {
    position: relative;
    z-index: 1;
}

.portfolio-wrap {
    padding: 0 120px;
    @media (max-width: 1600px) {
        padding: 0 120px;
    }
    @media (max-width: 1500px) {
        padding: 0 90px;
    }
    @media (max-width: 1400px) {
        padding: 0 40px;
    }
    @media (max-width: 1200px) {
        padding: 0 30px;
    }
    @media (max-width: 768px) {
        padding: 0 20px;
    }
    @media (max-width: 576px) {
        padding: 0 10px;
    }
    @media (max-width: 425px) {
        padding: 0 5px;
    }

    .portfolio-single-card {
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;

        .images {
            img {
                width: 100%;
                @media (max-width: 991px)  {
                    max-height: 400px;
                    object-fit: cover;
                }
                @media (max-width:768px) {
                    max-height: 550px;
                }
                @media (max-width:576px) {
                    max-height: 400px;
                }
            }
        }

        .text {
            position: absolute;
            left: 0;
            bottom: -100%;
            border-top: 3px solid $white;
            border-right: 3px solid $white;
            border-top-right-radius: 50%;            
            background-color: #203240;
            opacity: 0.941;
            padding: 47px 30px 30px 35px;
            width: 100%;
            transition: all .3s ease-in-out;
            opacity: 0;
            visibility: hidden;              
            @media (max-width: 1170px) and (min-width: 991px) {
                padding: 30px;
            } 

            a {
                border-radius: 50%;
                background-color: $them-1;
                border: 7px solid $white;
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                margin-bottom: 15px;
                position: absolute;
                right: 0;
                top: 0px;
                color: $white;
                font-size: 25px;
                @media (max-width: 1400px) {
                    width: 60px;
                    height: 60px;
                    font-size: 20px;
                    border: 4px solid $white
                }               
                @media (max-width: 1170px) and (min-width: 991px) {
                    width: 50px;
                    height: 50px;
                } 
            }
            h3 {
                font-size: 20px;
                color: $white;
                font-weight: 600;
                margin-bottom: 5px;   
                @media (max-width: 1400px) {
                    font-size: 18px;
                }             
                @media (max-width: 1170px) and (min-width: 991px) {
                    font-size: 15px;
                }             
            }
            h2 {
                font-size: 22px;
                color: $white;
                font-weight: 700;
                margin-bottom: 10px; 
                @media (max-width: 1400px) {
                    font-size: 20px;
                }              
                @media (max-width: 1170px) and (min-width: 991px) {
                    font-size: 17px;
                } 
            }

            span {
                font-size: 17px;
                font-family: $heading-font;
                color: $white;
                @media (max-width: 1400px) {
                    font-size: 16px;
                }              
                @media (max-width: 1170px) and (min-width: 991px) {
                    font-size: 12px;
                } 
            }
        }

        &:hover {
            .text {
                bottom: 0;
                opacity: 0.941;
                visibility: visible;
            }
        }
    }
}





//brand section start 
.brand-area.first-brand.second-page-brand {
    padding: 70px 0 80px;
}
.brand-area {
    h5 {
        display: none;
    }
    .slick-dots {
        display: none !important;
    }
}
.brand-active {
    .brand-img {
        text-align: center;
        img {
            margin: auto;
            max-width: 200px;
            width: 100%;
            @media (max-width: 768px) {
                max-width: 155px;
            }
        }
    }
}
//brand section end 

// appontment section start 
.appoint-head {
    background: $them-5;
}
.appoint-head-wrap {
    display: flex;
    align-items: center;
    column-gap: 60px;
    @media (max-width: 768px) {
        column-gap: 35px;
    }
    @media (max-width: 576px) {
        column-gap: 25px;
    }
    .telephone-icon {
        height: 95px;
        width: 100px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: $them-1;
        color: $white;
        font-size: 60px;
        font-weight: 700;
        @media (max-width: 768px) {
            font-size: 40px;
            height: 80px;
        }
        @media (max-width: 576px) {
            font-size: 30px;
        }
    }
    .head-title {
        font-size: 22px;
        font-weight: 700;
        color: $white;
        line-height: 30px;
        @media (max-width: 768px) {
            font-size: 18px;
            line-height: 26px;
        }
        @media (max-width: 576px) {
            font-size: 15px;
            line-height: 24px;
        }
    }
}
.appointment-form-wrap{
    background: $them-bg-2;
    position: relative;
    .doctors-shape {
        position: absolute;
        bottom: 0;
        left: calc(15% - 100px);
        img{
            width: 700px;
        }
        @media (max-width: 1840px) {
            left: calc(15% - 200px);        
        }
        @media (max-width: 1740px) {
            left: calc(15% - 200px);
        }
        @media (max-width: 1440px) {
            left: calc(14% - 200px);
            img{
                width: 630px;
            }
        }
        @media (max-width: 1200px) {
            left: calc(9% - 200px);
        }
        @media (max-width: 1040px) {
            left: calc(6% - 200px);
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
    .support-shape {
        position: absolute;
        bottom: 100px;
        right: 40px;
        img{
            width: 220px;
        }
        @media (max-width:1870px) {
            img{
                width: 200px;
            }
        }
        @media (max-width:1870px) {
            right: 20px;
            img{
                width: 180px;
            }
        }
        @media (max-width:1720px) {
            img{
                width: 140px;
            }
        }
        @media (max-width:1640px) {
            right: 20;
            img{
                width: 80px;
            }
        }
        @media (max-width:1499px) {
            display: none;
        }
    }
}

// first cta section start 
.first-cta {
    background-image: url(../images/cta/cta-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0;
    overflow: hidden;
    .row{
        position: relative;
        align-items: center;
    }
    .mice-shape {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -13%;
        @media (max-width:1653px) {
            left: -8%;
            img{
                width: 60px;
            }
        }
        @media (min-width: 1400px) and (max-width: 1500px) {
            left: -5%;
        }
        @media (max-width: 1400px) {
            left: -6%;
        }
        @media (max-width:1260px) {
            display: none;
        }
    }
}
.cta-text {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: $white;
    width: 95%;
    @media (max-width: 1200px) {
        font-size: 33px;
        line-height: 42px;
        width: 100%;
    }
    @media (max-width: 991px) {
        font-size: 25px;
        line-height: 35px;
    }
    @media (max-width: 768px) {
        text-align: center;
        margin-bottom: 30px;
    }
}
.cta-input{
    position: relative;
    text-align: end;
    .cta-input-field {
        max-width: 540px;
        width: 100%;
        height: 80px;
        background: $white;
        color: $ash-font;
        border-radius: 40px;
        border: none;
        outline: none;
        padding: 0 45px;
        font-size: 17px;
        font-weight: 400;
        @media (max-width: 425px) {
           height: 60px;
           font-size: 14px;
        }
    }
    .cta-sub-btn {
        height: 80px;
        padding: 0 40px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 40px;
        border: none;
        outline: none;
        background: #081e41;
        color: $white;
        font-size: 18px;
        @media (max-width: 425px) {
           height: 60px;
           font-size: 14px;
           padding: 20px;
        }
    }
}

//first home page end 

